$background-color: rgb(63, 63, 63);
$text-color: white;
$text-hover-color: rgb(252, 222, 184);
$border-color: #7c007c;
$box-shadow-color: rgba(97, 0, 136, 0.25);

.profile_form {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: $text-hover-color;
  padding: 50px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
