.Layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 222, 184);
  main {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}
